<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Commerce</title>

    <style>
        h1{
    text-align: center;
    font-size: 50px;
    color: red;
}
    </style>
</head>
<body>
    <h1>this is the home page</h1>
    <nav>home</nav>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi aspernatur dicta veniam culpa obcaecati qui reiciendis libero est sunt facere, dolorum laborum maxime ipsum ex, fugit eos magnam, ducimus quibusdam.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus perferendis vel velit provident veritatis in, nostrum eos laboriosam fugiat facere, laborum reprehenderit voluptatum eveniet! Quam ad nulla voluptatibus quia voluptas nam quaerat dolores? Quae natus enim in magnam consequatur perspiciatis vel iure vitae recusandae! Rem quod esse saepe eligendi cum incidunt perferendis, sapiente optio culpa dolores tempora! Quisquam soluta ex vero dicta impedit, atque inventore ipsa amet tempore ab sunt esse quasi tenetur dolorem rerum voluptates cupiditate molestias reiciendis in doloremque ea eaque autem voluptatum. Voluptatum cumque, nihil beatae quas cupiditate vero ipsum autem optio nulla temporibus suscipit illum ipsa!</p>


    <a href="{% url 'login_page' %}">Login</a>
    <br>
    <a href="{% url 'register_page' %}">Register</a>

</body>

</html>